<table>
	<tr>
		<th>
			Currency
		</th>
		<th>
			The number of countries
		</th>
		<th>
			Left to visit
		</th>
	</tr>
	<tr>
		<td align='center'>
			<%= link_to currency.currency, countries_path(currency_id: currency.id) %>
		</td>
		<td align='center'>
			<%= currency.currency_codes.count %>
		</td>
		<td align='center'>
			<%= get_visited_countries(currency.id).count %>
		</td>
	</tr>
</table>