<div class="page-header">
  <h1> Currencies whith unvisited Country </h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th> id </th>
      <th> Currency </th>
      <th> Qty of Countries </th>
      <th> Visited Countries </th>
    </tr>
  </thead>
  <tbody>
    <% @currencies.each do |currency| %>
      <tr>
        <td align='center'><%= currency.id %></td>
        <td align='center'><%= link_to currency.currency, countries_path(currency_id: currency.id) %></td>
        <td align='center'><%= currency.currency_codes.count %></td>
        <td align='center'><%= get_visited_countries(currency.id).count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
