<table class="table table-striped">
  <thead>
    <tr>
      <th> id</th>
      <th> Country </th>
      <th> Visited </th>
      <th> Actions </th>
    </tr>
  </thead>
  <tbody>
    <% @countries.each do |country| %>
      <tr>
        <td><%= country.id %></td>
        <td><%= country.country %></td>
        <td><%= country.visited %></td>
        <td>
          <%= link_to 'add to trip', edit_trip_plan_path(@trip_plan, country_id: country.id), :class => 'btn btn-default btn-xs' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
