<h1>Listing Countries</h1>

<table>
  <thead>
    <tr>
      <th>Country</th>
      <th>Visited</th>
      <th>Edit</th>
    </tr>
  </thead>

  <tbody>
    <% @countries.each do |country| %>
      <tr>
        <td><%= country.country %></td>
        <td><%= country.visited %></td>
        <td><%= link_to 'edit', edit_country_path(country.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', currencies_path %>
