<table class="table table-striped">
  <thead>
    <tr>
      <th> id </th>
      <th> Country </th>
      <th> Visited </th>
    </tr>
  </thead>
  <tbody>
    <% @countries.each do |country| %>
      <tr>
        <td><%= country.id %></td>
        <td><%= country.country %></td>
        <td><%= country.visited %></td>
      </tr>
    <% end %>
  </tbody>
</table>
